### 🌱 General ###
.env
*.log
*.tmp
.DS_Store
*.swp
*.swo

### 💡 IDEs ###
.vscode/
.idea/
*.iml
*.ipr
*.iws

### 🚀 Spring Boot ###
spring/.gradle/
spring/build/
spring/out/
spring/.idea/
!spring/gradle/wrapper/gradle-wrapper.jar

# Eclipse / STS
.springBeans
.sts4-cache
.apt_generated
.classpath
.factorypath
.project
.settings/
spring/bin/
!spring/src/main/**/bin/
!spring/src/test/**/bin/

# NetBeans
spring/nbproject/private/
spring/nbbuild/
spring/dist/
spring/nbdist/
spring/nbactions*.xml
spring/.nb-gradle/

### ⚛️ React ###
react/node_modules/
react/dist/
react/.env
react/.vite
react/.DS_Store

### 🐳 Docker ###
**/tmp/
**/.container-logs/
docker-compose.override.yml

### 📦 Package Managers ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

### 📜 Build Artifacts ###
dist/
dist-ssr/
out/

### ✅ Important ###
!docker-compose.yml
